## Перебор элементов словаря

In [1]:

staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [13]:
for el in staff_dict:
    print(el)

Robert
Jane
Liza
Richard

In [3]:
for el in staff_dict.keys():
    print(el)

Robert
Jane
Liza
Richard

In [11]:
for el in staff_dict.values():
#     print(k, v)
#     print(k)
#     print(v)
    print(el)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}

In [5]:
for el in staff_dict.items():
    print(el)

('Robert', {'salary': 800, 'bonus': 200})
('Jane', {'salary': 200, 'bonus': 300})
('Liza', {'salary': 1300, 'bonus': 200})
('Richard', {'salary': 500, 'bonus': 1200})

In [6]:
for k, v in staff_dict.items():
    print(k)
    print(v)

Robert
{'salary': 800, 'bonus': 200}
Jane
{'salary': 200, 'bonus': 300}
Liza
{'salary': 1300, 'bonus': 200}
Richard
{'salary': 500, 'bonus': 1200}

## Какое-то задание из какого-то ДЗ

In [14]:
queries = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]

In [15]:
res = {}

In [22]:
for query in queries:
    print(query)
    q_len = len(query.split())
#     print(q_len)
    if q_len not in res:
        res[q_len] = 1
    else:
        ...
    
res

смотреть сериалы онлайн
новости спорта
афиша кино
курс доллара
сериалы этим летом
курс по питону
сериалы про спорт

{3: 5, 2: 4}

# Задача про ROI

In [28]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [29]:
for info in results.values():
#     print(info)
    info['dream_revenue'] = info['revenue'] * 1000000
    
results

{'vk': {'revenue': 103, 'cost': 98, 'dream_revenue': 103000000},
 'yandex': {'revenue': 179, 'cost': 153, 'dream_revenue': 179000000},
 'facebook': {'revenue': 103, 'cost': 110, 'dream_revenue': 103000000},
 'adwords': {'revenue': 35, 'cost': 34, 'dream_revenue': 35000000},
 'twitter': {'revenue': 11, 'cost': 24, 'dream_revenue': 11000000}}

# Задача с вложенными словарями из списка

In [32]:
a = ['2018-01-01', 'yandex', 'cpc', 100]
#  {'2018-01-01': {'yandex': {'cpc': 100}}}

In [33]:
some_var = a[-1]

In [37]:
for el in a[-2::-1]:
    some_var = {el: some_var}
    
some_var

{'2018-01-01': {'yandex': {'cpc': {'2018-01-01': {'yandex': {'cpc': 100}}}}}}

# Напишите функцию, которая определяет является ли слово палиндромом

In [39]:
def pal(string): 
    s1 = string[len(string)//2+1:] 
    s2 = string[:len(string)//2+1] 
    if s1 == s2:
        print("палендром")
pal('радар')

In [48]:
def palindrom(word):
    word = word.lower()
    word_reverse = word[::-1] 
    return word == word_reverse

palindrom('Радар')

True

In [44]:
slovo = input() 
if slovo == slovo[::-1]: 
    print("true") 
else: 
    print("false")

Радар
false

In [51]:
def is_palindrom(word): 
    return word.lower() == word[::-1].lower()

is_palindrom('радар')

True

# Args. Напишите функцию, которая будет находить среднюю цену на квартиры по всем данным

In [60]:
dict_1 = {'flat_1': 10500, 'flat_2': 11000}
dict_2 = {'flat_3': 15000}
dict_3 = {'flat_4': 6500, 'flat_5': 7000, 'flat_6': 6000}

In [63]:
def mean_flat_price(*districts):
    prices = 0
    count = 0
    for flats in districts:
        prices += sum(flats.values())
        count += len(flats.values())
    return prices / count
    
mean_flat_price(dict_1, dict_3, dict_2)

9333.333333333334

In [ ]:
def av_price(*args): 
    total_sum = 0
    total_num = 0 
    for district in args: 
        total_sum += sum(district.values()) 
        total_num += len(district.values()) 
    return total_sum / total_num

In [73]:
# def searcher(*args): 
#     a = [] 
#     for neighbour in args: 
#         for house in neighbour.values(): 
#             a.append(neighbour[house]) 
#         return sum(a) 

# searcher(dict_1, dict_2, dict_3)

In [64]:
students_list = [
    {"name": "Василий", "surname": "Теркин", "gender": "м", "program_exp": True, "grade": [8, 8, 9, 10, 9], "exam": 8},
    {"name": "Мария", "surname": "Павлова", "gender": "ж", "program_exp": True, "grade": [7, 8, 9, 7, 9], "exam": 9},
    {"name": "Ирина", "surname": "Андреева", "gender": "ж", "program_exp": False, "grade": [10, 9, 8, 10, 10], "exam": 7},
    {"name": "Татьяна", "surname": "Сидорова", "gender": "ж", "program_exp": False, "grade": [7, 8, 8, 9, 8],"exam": 10},
    {"name": "Иван", "surname": "Васильев", "gender": "м", "program_exp": True, "grade": [9, 8, 9, 6, 9], "exam": 5},
    {"name": "Роман", "surname": "Золотарев", "gender": "м", "program_exp": False, "grade": [8, 9, 9, 6, 9], "exam": 6}
]

In [71]:
# функция считает среднюю оценку за экзамен по группе студентов
def get_avg_ex_grade(students):
    sum_ex = 0
    for student in students:
#         print(student)
        sum_ex += student['exam']
    return round(sum_ex / len(students), 2)

get_avg_ex_grade(students_list)

In [84]:
def get_avg_hw_grade(students, gender=None, exp=None):
    sum_hw = 0
    counter = 0
    for student in students:
        if (student['gender'] == gender and student['program_exp'] == exp) or \
            (student['gender'] == gender and exp is None) or \
            (student['program_exp'] == exp and gender is None) or \
            (exp is None and gender is None):
                sum_hw += sum(student['grade']) / len(student['grade'])
                counter += 1
    return round(sum_hw / counter, 2)

print(get_avg_hw_grade(students_list))
print(get_avg_hw_grade(students_list, 'м'))
print(get_avg_hw_grade(students_list, 'ж'))

8.43
8.4
8.47

In [85]:
print(get_avg_hw_grade(students_list))
print(get_avg_hw_grade(students_list, exp=False))
print(get_avg_hw_grade(students_list, exp=True))

8.43
8.53
8.33

In [90]:
print(get_avg_hw_grade(students_list, 'м', exp=False))
print(get_avg_hw_grade(students_list, 'м', exp=True))

8.2
8.5

In [93]:
def main(students):
    while True:
        user_input = input('Введите команду')
        if user_input == '1':
            print(get_avg_ex_grade(students))
        elif user_input == '2':
            print(get_avg_hw_grade(students))
        elif user_input == '3':
            print(get_avg_hw_grade(students, exp=False))
        elif user_input == 'q':
            print('До свидания!')
            break

In [94]:
main(students_list)

Введите команду1
7.5
Введите команду2
8.43
Введите команду3
8.53
Введите командуq
До свидания!

In [96]:
students_list = [
    {"name": "Василий", "surname": "Теркин", "gender": "м", "program_exp": True, "grade": [8, 8, 9, 10, 9], "exam": 8},
    {"name": "Мария", "surname": "Павлова", "gender": "ж", "program_exp": True, "grade": [7, 8, 9, 7, 9], "exam": 9},
    {"name": "Ирина", "surname": "Андреева", "gender": "ж", "program_exp": False, "grade": [10, 9, 8, 10, 10], "exam": 7},
    {"name": "Татьяна", "surname": "Сидорова", "gender": "ж", "program_exp": False, "grade": [7, 8, 8, 9, 8],"exam": 10},
    {"name": "Иван", "surname": "Васильев", "gender": "м", "program_exp": True, "grade": [9, 8, 9, 6, 9], "exam": 5},
    {"name": "Роман", "surname": "Золотарев", "gender": "м", "program_exp": False, "grade": [8, 9, 9, 6, 9], "exam": 6}
]

In [97]:
for student in students_list:
    print(f'ФИО: {student["name"]} {student["surname"]}, его оценка за экзамен: {student["exam"]}')

ФИО: Василий Теркин, его оценка за экзамен: 8
ФИО: Мария Павлова, его оценка за экзамен: 9
ФИО: Ирина Андреева, его оценка за экзамен: 7
ФИО: Татьяна Сидорова, его оценка за экзамен: 10
ФИО: Иван Васильев, его оценка за экзамен: 5
ФИО: Роман Золотарев, его оценка за экзамен: 6