In [1]:
print('Hello world!')

Hello world!

In [2]:
print("Hello World!")

Hello World!

In [5]:
print("He said: 'Hello world!'")

He said: 'Hello world!'

# Задача со счастливым билетом

In [6]:
number = 123456

In [10]:
number_1 = number // 100000

In [12]:
number_2 = number % 100000 // 10000
number_2

2

# Взятие остатка от деления при отрицательных числах

In [13]:
8 % -3

-1

In [14]:
-9 % 4

3

# f-строки

In [20]:
name = 'John'
salary = 100021.214214
print(f"{name}'s salary is {salary*2 :.2%}")

John's salary is 20004242.84%

# Сокращенная запись присвоение при арифметике

In [23]:
x = 2

x = x * 5
x

10

In [24]:
y = 10

y += 5
y

15

In [25]:
y *= 2
y

30

In [31]:
y /= 2
print(y)

0.46875

# Краткая запись односложных условий

In [32]:
num = 6

if num % 2 == 0:
    print('even')
else:
    print('odd')

even

In [36]:
print('even') if num % 2 == 0 else print('odd')

even

In [37]:
if num % 2 == 0: print('sdgdsgh')

sdgdsgh

# Zen of Python

In [38]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Практика. Найти максимальное число среди представленных

In [64]:
number_1 = 600
number_2 = 1000
number_3 = 100

In [63]:
if (number_1 > number_2) and (number_1 > number_3):
    print(f'{number_1} - максимальное число')
elif (number_3 > number_2) and (number_3 > number_1):
    print(f'{number_3} - максимальное число')
else:
    print(f'{number_2} - максимальное число')

1000 - максимальное число

In [53]:
print(f'{number_1} dfhdfh')

100 dfhdfh

In [54]:
# if (num1 > num2) and (num1 > num3):
#     print(num1)
# elif (num2 > num1) and (num2 > num3):
#     print(num2)
# else: 
#     print(num3)

NameError: name 'num1' is not defined

In [60]:
max_ = number_3
if number_3 <= number_1 >= number_2:
    max_ = number_1
if number_3 <= number_2 >= number_1:
    max_ = number_2
print(max_)

1000

In [61]:
number_1 = 900 
number_2 = 1 
number_3 = 800 
if number_1 > number_2: 
    print('number_1, =max') 
elif number_2 > number_3: 
    print('number_2, =max') 
else: 
    print('number_3, =max')

number_1, =max

# Консольный пользовательский "интерфейс"

In [ ]:
while True:
    user_input = input('Введите команду')
    if user_input == 'do':
        pass
    elif user_input == 'do2':
        pass
    elif user_input == 'q':
        break

# Практика. Посчитаем сумму элементов по главной диагонали в матрице

In [66]:
data = [
    [13, 25, 23, 34],
    [45, 32, 44, 47],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

In [69]:
sum_ = 0
i = 0
for row in data:
#     print(row)
    sum_ += dfhdfh[i]
    i += 1
sum_

103

In [72]:
mysum = 0
for i in range(len(data)):
    mysum += data[i][i]
print(mysum)

103

In [78]:
list(range(len(data)))

[0, 1, 2, 3]

In [74]:
for row in data:
    for number in row:
        print(number)

13
25
23
34
45
32
44
47
12
33
23
95
13
53
34
35

In [ ]:
data = [
    [1, [13, 25, 23, 34]],
    [2, [45, 32, 44, 47]],
    [12, 33, 23, 95],
    [13, 53, 34, 35]
]

# Пример с температурами по странам

In [79]:
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

In [88]:
for country_info in countries_temperature:
    print(country_info[0])
    temp_sum = 0
    for temp in country_info[1]:
        temp_sum += temp
    print(temp_sum / len(country_info[1]) * 5 / 9 -32)

Thailand
9.634920634920633
Germany
-0.4222222222222243
Russia
-10.507936507936506
Poland
-2.2222222222222214

# Практика. Вывести фамилии построчно с указанием профессии

In [90]:
professions = ['IT', 'Физика', 'Математика']
persons = [['Гейтс', 'Джобс', 'Возняк'], ['Эйнштейн', 'Фейнман'], ['Эвклид', 'Ньютон']]

In [99]:
for pro, person_list in zip(professions, persons):
    print(f'{pro}:')
    for person in person_list:
        print(person)
    print()

IT:
Гейтс
Джобс
Возняк

Физика:
Эйнштейн
Фейнман

Математика:
Эвклид
Ньютон

IT:
Гейтс
Джобс
Возняк

Физика:
Эйнштейн
Фейнман

...

chekio.org  
hackerrank.com  
pythontutor.ru  
codemonkey.com

In [102]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.