# Домашнее задание «Продвинутый pandas»

### Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic
для источников paid и email из России - ставим ad
для источников paid и email не из России - ставим other
все остальные варианты берем из traffic_source без изменений

In [2]:
import pandas as pd

In [3]:
log = pd.read_csv(r'/Users/MacBook/Desktop/курсы/python_netology/python_da/Pandas_продвинутый/доп_материалы_к_пандас_1_и_2/visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [8]:
log.loc[log.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
log.loc[(log.traffic_source.isin(['paid', 'email'])) & (log.region == 'Russia'), 'source_type'] = 'ad'
log.loc[(log.traffic_source.isin(['paid', 'email'])) & (log.region != 'Russia'), 'source_type'] = 'other'
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

### Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм
Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [17]:
file = r'/Users/MacBook/Desktop/курсы/python_netology/python_da/Pandas_продвинутый/доп_материалы_к_пандас_1_и_2/URLs.txt'

In [18]:
urls = pd.read_csv(file, sep=';')
urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [21]:
import re

In [27]:
urls.loc[urls.url.str.contains(r'/\d{8}-'), 'news'] = 1

In [29]:
urls[urls.news==1].head(10)

                                                  url  news
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...   1.0
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...   1.0
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...   1.0
6   /video/36001498-poyavilis-pervye-podrobnosti-g...   1.0
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...   1.0
10  /middleeast/36131117-divizion-s-400-ne-zametil...   1.0
11  /economics/36065674-rossiyane-vozmutilis-minim...   1.0
12  /politics/36118047-otets-24-detey-potreboval-i...   1.0
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...   1.0
14  /politics/35638742-nesolidno-mariya-zaharova-s...   1.0

### Задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [30]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [31]:
data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [36]:
from pymystem3 import Mystem

In [39]:
m = Mystem()

In [38]:
data['lemmas'] = data.keyword.apply(lambda x : ''.join(m.lemmatize(x)).strip())
data

                 keyword   shows               lemmas
0    курс гривны к рублю  125076  курс гривна к рубль
1        доллары в рубли  114173       доллар в рубль
2  100 долларов в рублях   97534   100 доллар в рубль
3             курс рубля   53546           курс рубль