# Домашнее задание к лекции "Статистика. Практика

### Задание 1

Ответьте на следующие вопросы:

1. Как критики относятся к спортивным играм?
2. Критикам нравятся больше игры на PC или на PS4?
3. Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы;
выберите пороговый уровень статистической значимости;
опишите полученные результаты статистического теста.

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/stat_case_study/video_games_sales.csv', error_bad_lines=False)

In [8]:
data

,Rank,Name,basename,Genre,ESRB_Rating,Platform,Publisher,Developer,VGChartz_Score,Critic_Score,...,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year,Last_Update,url,status,Vgchartzscore,img_url
0,1,Wii Sports,wii-sports,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,7.7,...,NaN,NaN,NaN,NaN,2006.0,NaN,http://www.vgchartz.com/game/2667/wii-sports/?...,1,NaN,/games/boxart/full_2258645AmericaFrontccc.jpg
1,2,Super Mario Bros.,super-mario-bros,Platform,NaN,NES,Nintendo,Nintendo EAD,NaN,10.0,...,NaN,NaN,NaN,NaN,1985.0,NaN,http://www.vgchartz.com/game/6455/super-mario-...,1,NaN,/games/boxart/8972270ccc.jpg
2,3,Mario Kart Wii,mario-kart-wii,Racing,E,Wii,Nintendo,Nintendo EAD,NaN,8.2,...,NaN,NaN,NaN,NaN,2008.0,11th Apr 18,http://www.vgchartz.com/game/6968/mario-kart-w...,1,8.7,/games/boxart/full_8932480AmericaFrontccc.jpg
3,4,PlayerUnknown's Battlegrounds,playerunknowns-battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,...,NaN,NaN,NaN,NaN,2017.0,13th Nov 18,http://www.vgchartz.com/game/215988/playerunkn...,1,NaN,/games/boxart/full_8052843AmericaFrontccc.jpg
4,5,Wii Sports Resort,wii-sports-resort,Sports,E,Wii,Nintendo,Nintendo EAD,NaN,8.0,...,NaN,NaN,NaN,NaN,2009.0,NaN,http://www.vgchartz.com/game/24656/wii-sports-...,1,8.8,/games/boxart/full_7295041AmericaFrontccc.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55787,55788,Indivisible,indivisible,Role-Playing,NaN,PC,505 Games,Lab Zero Games,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224682/indivisibl...,1,NaN,/games/boxart/full_6339426AmericaFrontccc.jpg
55788,55789,Lost Ember,lost-amber,Adventure,RP,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/games/game.php?id=2246...,1,NaN,/games/boxart/full_8893129AmericaFrontccc.jpg
55789,55790,Lost Ember,lost-amber,Adventure,RP,PS4,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224690/lost-ember...,1,NaN,/games/boxart/full_6514293AmericaFrontccc.jpg
55790,55791,Lost Ember,lost-amber,Adventure,RP,XOne,Mooneye Studios,Mooneye Studios,NaN,NaN,...,NaN,NaN,NaN,NaN,2019.0,11th Apr 19,http://www.vgchartz.com/game/224688/lost-ember...,1,NaN,/games/boxart/full_6799693AmericaFrontccc.jpg
55791,55792,Falcon Age,falcon-age,Action-Adventure,NaN,PS4,Unknown,Outerloop Games,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12th Apr 19,http://www.vgchartz.com/game/224692/falcon-age...,1,NaN,/games/boxart/default.jpg

#### Как критики относятся к спортивным играм?

H0: средняя оценка критиков спортивных игр >= 7

H1: средняя оценка критиков спортивных игр менее 7

In [9]:
sport_score = data[data['Genre'] == 'Sports'].Critic_Score.dropna()

In [10]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(sport_score, 7)
print(result)

if (result.statistic < 0) & (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, среднее меньше 75, критикам не нравятся спортивные игры')
else:
    print('Не отвергаем нулевую нулевую гипотезу, критикам нравятся спортивные игры')

Ttest_1sampResult(statistic=5.197156914436623, pvalue=2.671410902970997e-07)
Не отвергаем нулевую нулевую гипотезу, критикам нравятся спортивные игры

#### Критикам нравятся больше игры на PC или на PS4?

H0: средняя оценка критиков игр на PC >= PS4

H1: средняя оценка критиков игр на PC < PS4

In [11]:
PC_score = data[data['Platform'] == 'PC'].Critic_Score.dropna()
PS4_score = data[data['Platform'] == 'PS4'].Critic_Score.dropna()

In [12]:

alpha = 0.05
result = st.ttest_ind(PC_score, PS4_score)

if  (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, критикам больше нравятся игры на PS4')
else:
    print('Не отвергаем нулевую гипотезу, критикам больше нравятся игры на PС')

Отвергаем нулевую гипотезу, критикам больше нравятся игры на PS4

In [13]:
PC_score.mean()

7.541849710982659

In [14]:
PS4_score.mean()

7.904587155963303

#### Критикам больше нравятся стрелялки или стратегии?

In [15]:
shooter_score = data[data['Genre'] == 'Shooter'].Critic_Score.dropna()
strategy_score = data[data['Genre'] == 'Strategy'].Critic_Score.dropna()

H0: средняя оценка критиков игр на Shooter >= Strategy

H1: средняя оценка критиков игр на Shooter < Strategy

In [16]:

alpha = 0.05
result = st.ttest_ind(shooter_score, strategy_score)

if  (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, критикам больше нравятся Стратегии')
else:
    print('Не отвергаем нулевую гипотезу, критикам больше нравятся Стратегии')

Не отвергаем нулевую гипотезу, критикам больше нравятся Стратегии

In [17]:
shooter_score.mean()

7.286832740213522

In [18]:
strategy_score.mean()

7.429268292682925


### Задание 2
Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:

1. Привидите весь текст к нижнему регистру;
2. Удалите мусорные символы;
3. Удалите стоп-слова;
4. Привидите все слова к нормальной форме;
5. Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
Можете поэкспериментировать с параметрами TfidfVectorizer;

6. Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;
7. Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;
8. Опишите результаты при помощи confusion_matrix;
9. Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [19]:
df = pd.read_csv('https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/stat_case_study/spam.csv', error_bad_lines=False)

In [20]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [21]:
df["Message"] = df["Message"].str.lower()

In [23]:
df["Message"] = df["Message"].str.replace('[\W_]+',' ')

In [24]:
df

     Category                                            Message
0         ham  go until jurong point crazy available only in ...
1         ham                           ok lar joking wif u oni
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham       u dun say so early hor u c already then say
4         ham  nah i don t think he goes to usf he lives arou...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home
5569      ham  pity was in mood for that so any other suggest...
5570      ham  the guy did some bitching but i acted like i d...
5571      ham                          rofl its true to its name

[5572 rows x 2 columns]

In [32]:
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))

In [52]:
def delete_stop_words(row):
    words = row.Message.split()
    without_sw = []
    for word in words:
        if word not in stopwords_set:
            without_sw.append(word)
    return without_sw

In [53]:
df['without_sw'] = df.apply(delete_stop_words, axis=1)

In [54]:
df

,Category,Message,without_sw
0,ham,go until jurong point crazy available only in ...,"[go, jurong, point, crazy, available, bugis, n..."
1,ham,ok lar joking wif u oni,"[ok, lar, joking, wif, u, oni]"
2,spam,free entry in 2 a wkly comp to win fa cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,u dun say so early hor u c already then say,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,nah i don t think he goes to usf he lives arou...,"[nah, think, goes, usf, lives, around, though]"
...,...,...,...
5567,spam,this is the 2nd time we have tried 2 contact u...,"[2nd, time, tried, 2, contact, u, u, 750, poun..."
5568,ham,will ü b going to esplanade fr home,"[ü, b, going, esplanade, fr, home]"
5569,ham,pity was in mood for that so any other suggest...,"[pity, mood, suggestions]"
5570,ham,the guy did some bitching but i acted like i d...,"[guy, bitching, acted, like, interested, buyin..."
5571,ham,rofl its true to its name,"[rofl, true, name]"

In [121]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [122]:
def lemmatize(row):
    list_ = [wordnet_lemmatizer.lemmatize(word) for word in row.without_sw]
    str1 = " " 
    return str1.join(list_)

In [123]:
df['lemmatized_text'] = df.apply(lemmatize, axis=1)

In [124]:
df

,Category,Message,without_sw,lemmatized_text
0,ham,go until jurong point crazy available only in ...,"[go, jurong, point, crazy, available, bugis, n...",go jurong point crazy available bugis n great ...
1,ham,ok lar joking wif u oni,"[ok, lar, joking, wif, u, oni]",ok lar joking wif u oni
2,spam,free entry in 2 a wkly comp to win fa cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin...",free entry 2 wkly comp win fa cup final tkts 2...
3,ham,u dun say so early hor u c already then say,"[u, dun, say, early, hor, u, c, already, say]",u dun say early hor u c already say
4,ham,nah i don t think he goes to usf he lives arou...,"[nah, think, goes, usf, lives, around, though]",nah think go usf life around though
...,...,...,...,...
5567,spam,this is the 2nd time we have tried 2 contact u...,"[2nd, time, tried, 2, contact, u, u, 750, poun...",2nd time tried 2 contact u u 750 pound prize 2...
5568,ham,will ü b going to esplanade fr home,"[ü, b, going, esplanade, fr, home]",ü b going esplanade fr home
5569,ham,pity was in mood for that so any other suggest...,"[pity, mood, suggestions]",pity mood suggestion
5570,ham,the guy did some bitching but i acted like i d...,"[guy, bitching, acted, like, interested, buyin...",guy bitching acted like interested buying some...
5571,ham,rofl its true to its name,"[rofl, true, name]",rofl true name

In [125]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.lemmatized_text)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [126]:
tfidf_matrix

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zhong,zindgi,zoe,zogtorius,zoom,zouk,zyada,èn,ú1,〨ud
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [127]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(tfidf_matrix, df.Category, test_size=0.3, random_state=42)

In [128]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state = 42)

In [129]:
lr.fit(X_train, y_train)

LogisticRegression(random_state=42)

In [130]:
lr.predict(X_test)

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [131]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, lr.predict(X_test))

0.958732057416268

In [132]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, lr.predict(X_test))

array([[1445,    3],
       [  66,  158]])

Таким образом, модель верно предсказала 1603 типа сообщий. 66 раз ошибочно присвоила сообщениям с типом ham тип spam и 3 раза ошибочно присвоила сообщениям с типом spam тип ham.

In [139]:
full = X_test.join(df)[['Message']]

In [143]:
final_df = pd.DataFrame({
'fact_type':  y_test,
'predicted_type': lr.predict(X_test),
'message' : full.Message
})

In [150]:
#список неверно классифицированных сообщений
final_df[final_df.fact_type!=final_df.predicted_type]

,fact_type,predicted_type,message
2952,ham,spam,hey now am free you can call me
881,spam,ham,reminder you have not downloaded the content y...
1961,spam,ham,guess what somebody you know secretly fancies ...
3864,spam,ham,oh my god i ve found your number again i m so ...
2575,spam,ham,your next amazing xxx picsfree1 video will be ...
...,...,...,...
4543,spam,ham,freemsg hi baby wow just got a new cam moby wa...
752,spam,ham,you have an important customer service announc...
309,spam,ham,themob check out our newest selection of conte...
495,ham,spam,are you free now can i call now
305,spam,ham,sms ac blind date 4u rodds1 is 21 m from aberd...